<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Events</strong>
<% end -%>

<% content_for :main do %>
  <div class="grid">
    <div class="grid-header">
    </div>
    <div class="grid-body">
      <table>
        <thead>
          <tr>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <% unless @events.empty? %>
            <% @events.each do |event| -%>
              <tr>
                <td><%= link_to event.name, edit_admin_event_path(event) %></td>
              </tr>
            <% end -%>
          <% else -%>
            <tr>
              <td>There are no events</td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
    <div class="grid-footer">
    </div>
  </div>
  <%= link_to "Create New Event", new_admin_event_path %>
<% end -%>