<p>Your password has been reset!</p>

<p>
  <strong>URL:</strong> <a href="http://translatingtime.net/signin">http://translatingtime.net/signin</a><br />
  <strong>EMAIL:</strong> <%= @user.email %><br />
  <strong>PASSWORD:</strong> <%= @user.password %><br />
</p>