<% content_for :main do %>
  <div class="form">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <div class="form-header">
        <h2>Forgot your password?</h2>
      </div>
      <div class="form-body">
        <dl>
          <%= f.email_field_control resource, :email %>
        </dl>
      </div>
      <div class="form-footer">
        <ul>
          <li><%= f.submit "Send me reset password instructions" %></li>
        </ul>
      </div>
    <% end %>
  </div>
  <%= render :partial => "devise/shared/links" %>
<% end -%>