div.flash {
  overflow: hidden; min-height: 10px; color: #666; margin: 0 0 10px; padding: 5px 25px 5px 30px;position: relative;
  span { position: absolute; top: 5px; right: 5px; padding: 4px; cursor: pointer; font-size: 12px; line-height: 12px; }
  strong { color: #000; }
  &.success { border: 1px solid #B3DC6C; background: #EAF5DC url(/assets/tick.png) no-repeat 7px 7px; }
  &.success span { color: #AD7;  }
  &.success span:hover { background-color: #AD7; color: #FFF; }
  &.warning { border: 1px solid #E2C822; background: #FFF9D7 url(/assets/warning.png) no-repeat 7px 7px; }
  &.warning span { color: #E2C822;  }
  &.warning span:hover { background-color: #E2C822; color: #FFF; }
  &.error { border: 1px solid #900; background: #900 url(/assets/error.png) no-repeat 7px 7px; color: #FFF; }
  &.error strong { color: #FFC; }
  &.error span { color: #FFF;  }
  &.error span:hover { background-color: #900; color: #FFF; }
}

div.form {
  background-color: #EEEEEE; width: 620px;
  div.form-header {
    background-color: #333; padding: 5px 10px; overflow: hidden;
    h2 { float: left; color: #FFF; font-size: 12px; line-height: 22px; }
  }
  div.form-body {
    padding: 10px; 
    dt, dd { float: left; margin: 0 0 10px; }
    dl { overflow: hidden; }
    dt { clear: both; width: 150px; font-weight: bold; }
    dd { width: 450px; }
    label { cursor: pointer; }
    label.required { background: url(/assets/required.png) no-repeat right 0; padding: 0 15px 0 0; }
    input[type="text"], input[type="password"], input[type="email"], textarea { padding: 5px; border: 1px solid #CCC; width: 430px; }
    select { padding: 5px; border: 1px solid #CCC; width: 440px; }
    div.error_description { color: #900; margin: 0 0 10px; }
    div.field_with_errors {
      display: inline;
      label { color: #900; }
      select, textarea, input { border: 1px solid #900 !important; background-color: #FEE !important; }
    }
  }
  div.form-footer {
    background-color: #BBB; padding: 5px 10px; overflow: hidden;
    ul { float: right; overflow: hidden; }
    li { float: left; margin: 0 0 0 10px; }
  }
}
