@mixin rounded($tl, $tr, $br, $bl) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

div.grid {
  div.grid-prefix {
    overflow: hidden; margin: 0 0 5px; text-align: right;
    ul.types {
      overflow: hidden; float: right; background-color: #FFF; @include rounded(3px,3px,3px,3px); border: 1px solid #CCC;
      li { float: left; padding: 0; }
      a { padding: 0 0 0 5px; border-right: 1px solid #CCC; padding: 3px 15px; display: block; color: #BBB; font-weight: bold; }
      &>:last-child a { border-right: none; }
      a.selected { background-color: #EEE; color: #000; }
    }
    label { font-weight: bold; cursor: pointer; }
    select { padding: 5px; border: 1px solid #CCC; }
  }
  div.grid-header {
    background-color: #333; padding: 5px 10px; overflow: hidden;
    h2 { float: left; color: #FFF; font-size: 12px; line-height: 22px; }
    div.actions {
      padding: 0 0 0 20px; background: url(/assets/arrow.gif) no-repeat 2px 8px; float: left;
      optgroup option { padding: 0 0 0 10px; }
    }
    ul { float: right; overflow: hidden; }
    li { float: left; margin: 0 0 0 10px; }
    a { color: #FFF; }
  }
  div.grid-body {
    table { border-collapse: collapse; width: 100%; border-top: 1px solid #CCC; border-left: 1px solid #CCC; }
    td, th { padding: 5px; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; }
    th { text-align: left; }
    tr.odd {
      td, th { background-color: #EEEEEE; }
    }
    tr.even {
      td, th { background-color: #FFFFFF; }
    }
    thead th { background-color: #DDDDDD;  }
    td span.yes { background: url(/assets/check.png) no-repeat center; display: block; text-indent: -9999px; }
    td span.no { display: block; text-indent: -9999px; }
    th.curated {
      background-color: #FFC;
      h2 { text-align: right; color: #666; }
    }
    tbody td.subitem { padding: 5px 5px 5px 20px; }
  }
  div.grid-footer {}
}

div#curation_grid {
  div.grid-body {
    thead th { vertical-align: bottom; text-align: center; }
    tbody td { vertical-align: middle; text-align: center; }
    input[type="radio"] { display: none; }
    label {
      display: block; cursor: pointer; padding: 5px;
      &.active { background: #FFC; font-weight: bold; }
    }
    td { padding: 0; }
  }
}


div#locations_grid {
  div.grid-body {
    thead th { vertical-align: bottom; text-align: center; }
    tbody td { vertical-align: middle; text-align: center; }
  }
}
