div.grid {
  div.grid-header {
    background-color: #333; padding: 5px 10px; overflow: hidden;
    h2 { float: left; color: #FFF; font-size: 12px; line-height: 22px; }
    ul { float: right; overflow: hidden; }
    li { float: left; margin: 0 0 0 10px; }
    a { color: #FFF; }
  }
  div.grid-body {
    table { border-collapse: collapse; width: 100%; border-top: 1px solid #CCC; border-left: 1px solid #CCC; }
    td, th { padding: 5px; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; }
    th { text-align: left; }
    tr.odd {
      td, th { background-color: #EEEEEE; }
    }
    tr.even {
      td, th { background-color: #FFFFFF; }
    }
    thead th { background-color: #DDDDDD; }
    td span.yes { background: url(/assets/check.png) no-repeat center; display: block; text-indent: -9999px; }
    td span.no { display: block; text-indent: -9999px; }
  }
  div.grid-footer {}
}