/* GENERIC STYLES */
* { margin: 0px; padding: 0px; list-style: none; outline: none; }
body { font-family: lucida grande,tahoma,verdana,arial,sans-serif; font-size: 12px; line-height: 22px; cursor: auto; }
body.waiting { cursor: wait; }
textarea {font-family: lucida grande,tahoma,verdana,arial,sans-serif;}
img { border: none; }
a { text-decoration: none; outline: none; color: #00C; }
a:hover { color: #C00; }
p, input, textarea, select, dt, dd, li, td, th { font-size: 12px; line-height: 22px; }
textarea { font-size: 12px; line-height: 22px; }
li { font-size: 12px; line-height: 22px; }
ol li { list-style-type: decimal; margin: 0 0 0 20px; }