<% content_for :content do %>

  <a href="/tables">&laquo Back to related tables</a>
  
  <h2>Abbreviations</h2>
  
  <table width="100%" class="referencetable">
    <thead>
      <tr>
        <th width="20%">Abbreviation</th>
        <th width="80%">Definition</th>
      </tr>
    </thead>
    <tbody>
      <% @abbreviations.each do |abbreviation| %>
        <tr>
          <th valign="top"><%= abbreviation.text %></th>
          <td valign="top"><%= abbreviation.description %></td>
        </tr>
      <% end  %>
    </tbody>
  </table>

<% end %>