<% content_for :content do %>

  <h2>Related Tables</h2>
  <h3>Empirical References</h3>
  <p>
    <select>
      <option></option>
      <% Species.all.each do |species| %>
        <option value="/tables/empirical/<%= species.id %>"><%= species.name %></option>
      <% end %>
    </select>
  </p>
  
  <h3>95% Confidence Intervals*</h3>
  <p>
    * Confidence intervals are for species averages rather than for individuals.<br />
    <select>
      <option></option>
      <% Species.all.each do |species| %>
        <option value="/tables/estimates/<%= species.id %>"><%= species.name %></option>
      <% end %>
    </select>
  </p>

  <p>
    <a href="/tables/events/limbic">Click here</a> for Limbic Events.<br />
    <a href="/tables/events/cortical">Click here</a> for Cortical Events.<br />
    <a href="/tables/abbreviations">Click here</a> for Abbreviations.
  </p>
  
  <script>
    $(document).ready(function(){
      $('select').change(function() {
        window.location.href = $(this).val();
      });
    });
  </script>
  
<% end %>