<% content_for :breadcrumbs do -%>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>Method</strong>
<% end -%>

<% content_for :main do %>
  <div class="grid">
    <div class="grid-header">
      <h2>Methods</h2>
      <ul>
        <li><%= link_to "+ Add New", new_admin_method_path %></li>
      </ul>
    </div>
    <div class="grid-body">
      <table>
        <thead>
          <tr>
            <th>Method</th>
          </tr>
        </thead>
        <tbody>
          <% unless @methods.empty? %>
            <% @methods.each do |method| -%>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= link_to method.name, edit_admin_method_path(method) %></td>
              </tr>
            <% end -%>
          <% else -%>
            <tr>
              <td>There are no methods</td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
    <div class="grid-footer">
    </div>
  </div>
<% end -%>