<% content_for :breadcrumbs do %>
  <%= link_to 'Dashboard', admin_dashboard_path %> &raquo;
  <strong>404 Not Found</strong>
<% end %>

<% content_for :main do %>
  <h1>404 Not Found</h1>
  <p>Sorry, we could not find this resource</p>
<% end %>