p.warning { color: #900; }
table.referencetable {
  margin: 0 0 10px;
  th, td { padding: 5px; }
  thead {
    th { text-align: left; background: #000; color: #FFF; }
    td { background-color: #CCC; text-align: center; }
  }
  tbody {
    th, td { background: #FFF; }
    th { text-align: left; }
  }
}

span.asterix { color: #900; }
